html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70.665vh;
    height: 100vh;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

.header{
    text-align: center;
}


.header h1{
    letter-spacing: 3px;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 15px;
}

.content h3{
    color: #626d7b;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content{
    display: flex;
    border-style: solid none solid none;
    border-color: #c0c6d0;
    border-width: 1px;
    font-size: 11px

}

.left-content,
.right-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profile h3{
    margin-top: 0;
}

.profile p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.right-content{
    border-style: none none none solid;
    border-color: #c0c6d0;
    border-width: 1px;
}

.media,
.education,
.profile,
.achievements,
.projects,
.languages{
    border-style: none none solid none;
    border-color: #c0c6d0;
    border-width: 1px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.interests ul{
    margin-left: 20px;
    padding: 0;
}

.interest{
    margin-top: 10px;
}

.media-line{
    display: flex;
}

.media-line > * {
    padding: 3px;
}

.fa,
.material-icons{
    font-size: 20px;
    color: #626d7b;
}

.project .project-name{
    font-weight: bold;
}

.education{
    padding: 0;
}

.degree-title{
    font-weight: bold;
}

.footer{
    font-size: 10px;
    text-align: center;
}
